* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.WelcomePage {
  text-align: center;
  font-family: 'Arial', sans-serif;
  /* background: #408EC6; */
  color: white;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_heading{
  color: #1E2761;
}
.App-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

.animated-header-container {
  position: relative;
}

h1 {
  font-size: 55px;
  position: absolute;
  margin: 0;
  white-space: nowrap;
}

.animated-header1 {
  color: transparent;
  -webkit-text-stroke: 1px #1E2761; 
}

.animated-header2 {
  color: #1E2761;
  -webkit-text-stroke: 2px #1E2761;
  animation: waves 4s ease-in-out infinite;
}

@keyframes waves {
  0%,
   100% {
     clip-path: polygon(
       0% 45%,
       16% 44%,
       33% 50%,
       54% 60%,
       70% 61%,
       84% 59%,
       100% 52%,
       100% 100%,
       0% 100%
     );
   }
 
   50% {
     clip-path: polygon(
       0% 60%,
       15% 65%,
       34% 66%,
       51% 62%,
       67% 50%,
       84% 45%,
       100% 46%,
       100% 100%,
       0% 100%
     );
   } 
 }


 .p {
  position: absolute;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  top: 33%;
  left: 50%;
  transform: translate(-38%, -38%);
  white-space: nowrap;
}

@media only screen and (min-width: 500px) {
  .p {
    font-size: 30px;
  }
}

@media only screen and (min-width: 700px) {
  .p {
    font-size: 30px;
  }
}

.p1 {
  /* text-shadow: 1px 1px 1px black, -1px -1px 1px black; */
  color: #1E2761;
}

.p2 {
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  animation: text-animation 3s ease-in-out forwards alternate infinite;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

.p3 {
  /* height: 20%; */
  color: transparent;
}

@keyframes text-animation {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 0% 1%, 0% 100%, 0% 100%);
  }
}

.cursor {
  position: absolute;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(0, -50%);
  border-right: 2px solid #1E2761;
  animation: cursor-animation 3s ease-in-out forwards alternate infinite;
}

@keyframes cursor-animation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* .App-header h1 {
  font-size: 5em;
  margin-bottom: 0.5em;
  transform: translateY(-20px);
  animation: fadeInSlideIn 1.5s forwards;
  color: #7A2048;
} */

@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-message {
  margin: 20px 0;
  text-align: center;
}

.welcome-message h2 {
  color: #fff;
}

.welcome-message p {
  color: #f1f1f1;
}

.features {
  margin: 20px 0;
  text-align: center;
}

.features h2 {
  color: #fff;
  margin-bottom: 20px;
}

.welcome_msg{
  display: flex;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome_msg>span{
  animation: shake 0.5s infinite;
  font-size: 25px;
  color: #1E2761;
  font-weight: 900;
}

@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  20% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.features-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

.feature-item {
  /* background: rgba(168, 43, 43, 0.2); */
  background: linear-gradient(135deg, rgba(132, 185, 223, 0.7), rgba(30, 39, 97, 0.9));
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  text-align: center;
  border: 1px solid #1E2761;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  /* border: 2px solid #1E2761; */
}

.feature-item .icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.cta button {
  background-color: #1E2761;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 15px;
}



